/* * {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
} */

body {
  background-color: #212121;
  color: white;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* margin-top: 15%;
  margin-left: 35%;
  margin-right: 35%; */
}

.item {
  width: 20rem;
  margin: 5px;
}

h3 {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}
