* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#start,
#stop {
  height: 200px;
  width: 200px;
  cursor: pointer;
  font-size: 30px;
  font-weight: 900;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 4px black;
  transition: 0.3s;
}

#start:hover {
  background-color: white;
  color: black;
}
#stop:hover {
  background-color: red;
  color: black;
}
